.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 80px;
  margin-top: 80px;
  background: url("../assets/girl.png") no-repeat bottom center / contain;
}

.heading {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}

.event-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 20px;
  padding: 0 20px 20px;
  border-bottom: 2px solid #efe4ca;
  border-radius: 10px;
  box-sizing: border-box;
}

.container .event-container:nth-child(2) {
  border-top: 2px solid #efe4ca;
  padding-top: 20px;
}

.event-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  width: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 35px;
}

.event-day {
  font-size: 32px;
  font-weight: 400;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.event-month {
  font-size: 15px;
  font-weight: 400;
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
}

.event-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Roboto Condensed", sans-serif;
}

.event-heading {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  color: #222;
  font-family: "Roboto", sans-serif;
}

.event-time-venue,
.event-price {
  font-size: 14px;
  color: #20263e;
  font-family: "Roboto", sans-serif;
}

.event-time-venue {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dot {
  font-weight: bold;
  font-size: 18px;
}

.event-button-container {
  margin-left: 20px;
}
.event-data {
  display: flex;
}

.event-button {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  width: 90px;
  padding: 10px 16px;
  background-color: #caa54d;
  color: #20263e;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;

  transition: background-color 0.3s ease, border 0.3s ease;
}

.event-button:hover {
  background-color: white;
  border: 1px solid black;
}

/* Responsive Design for tablets and Phones*/

@media (max-width: 900px) {
  .heading {
    font-size: 14px;
  }
  .event-container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .event-container {
    flex-direction: column;
  }
  .event-button {
    margin-top: 20px;
  }
}
